h1{
    background-color: red;
}
/* 
ul{
    list-style-image: url('https://png.pngtree.com/png-vector/20190725/ourmid/pngtree-vector-star-icon-png-image_1577370.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
li{
    margin: 10px 0px 0px 0px;

} */

ul > li{
    /* list-style-type: upper-roman;
    list-style-position: inside; */

    /* list-style: upper-roman inside; */
}

.one{
    empty-cells: show;
    border-collapse: separate;
    border-spacing: 10px 20px   ;

}

/* .one:hover{
    empty-cells: ;
} */

tr > td{
    border: 1px solid black;
}